.cardBox{
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    max-width: 480px;
    width: 100%;
    background-color: hsla(0,0%,100%,.07);
    transition: background-color .3s ease;
    justify-content: space-between;
}

.cardBox:hover{
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    max-width: 480px;
    width: 100%;
    background-color: hsla(0,0%,100%,.2);
    transition: background-color .3s ease;
    justify-content: space-between;
}

.cardBox .playlist{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.cardBox .playlist img{
    border-radius: 4px 0 0 4px;
}

.cardBox .link {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2px;
}

.cardBox .hover img.imgPlay {
    margin: 10px 22px;
}

.cardBox .hover img.gifPlay {
    margin: 10px 42px;
}

.showImgPlay {
    display: block;
}

.hiddenImgPlay {
    display: none;
}
