.burguerBox{
    background-color: #0000;
    padding-top: 3rem;
    padding-inline: 24px;
    max-width: 310px;
    width: 100%;
    height: 100vh;
}

.burguerItem {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    background-color: transparent;
    font-size: 18px;
    width: 100%;
}

.burguerItemCreate {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 4.3rem;
    background-color: transparent;
    font-size: 18px;
    width: 100%;
}